<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= 'My Website' %></title>
  <link rel="stylesheet" href="/styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
  <header>
  <!--navigation bar/header-->
  <div class="main-nav-bar">
   
   
   
  
    <h1>Book reviews website</h1>
  
   
    <nav class="ul-nav-bar">
      <ul>
        <li><a href="/">Home</a></li>
        <!-- <li> <a href="/insert">Add New Book</a></li> -->

        <!--using query parameter order to check if the order is ascending or descending-->
    <li><a href="/sort?order=asc">Sort ascending</a></li>
<li><a href="/sort?order=desc">Sort descending</a></li>

      </ul>
    </nav>
 

  </div>
   </header>
  <main>
