<!DOCTYPE html>
<html>
<head>
  <title>Book Notes</title>
</head>
<body>
  <h1>Books List</h1>
  <a href="/insert">Add New Book</a>
  <ul>
    <% books.forEach(book => { %>
      <li>
        <h3><%= book.title %> by <%= book.author %></h3>
        <% if (book.cover_id) { %>
          <img src="https://covers.openlibrary.org/b/id/<%= book.cover_id %>-M.jpg" alt="Book Cover" />
        <% } else { %>
          <p>No cover available</p>
        <% } %>
      </li>
    <% }) %>
  </ul>
</body>
</html>
